
.gradle/6.5/executionHistory/

.gradle/6.5/fileHashes/

.gradle/6.5/javaCompile/

.gradle/buildOutputCleanup/

.gradle/checksums/checksums.lock

.gradle/checksums/md5-checksums.bin

.gradle/checksums/sha1-checksums.bin

.idea/caches/

.idea/libraries/
